.button {
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 0.3em;
    outline: none;
    padding: 0.5em 1em;
}

.button:hover {
    box-shadow: 0 0 5px hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 80%) ;
}

.button.button-primary {
    background-color: hsl(265, 78%, 53%);
    color: white;
    border-color:hsl(265, 91%, 30%);
}

.button.button-primary:hover {
    box-shadow: 0 0 5px hsl(265, 78%, 53%);
}

.button.button-accent {
    border-color: hsl(200, 100%, 20%);
    background-color: hsl(205, 78%, 53%);
    color: white;
}

.button.button-accent:hover {
    box-shadow: 0 0 5px hsl(205, 78%, 53%);;
}

.button.button-danger {
    border-color: hsl(0, 94%, 25%);
    background-color: hsl(0, 78%, 53%);
    color: white;
}

.button.button-danger:hover {
    box-shadow: 0 0 5px hsl(0, 78%, 53%);
}

.button.button-large {
    padding: 0.5em 1em;
    font-size: 1.25rem;
}

.button.button-small {
    font-size: 0.75rem;
}

.button.button-pill {
    font-size: 0.75rem;
    border-radius: 999px;
}
