.parent {
  width: 200px;
  border: 1px solid black;
}

.item {
  background-color: peru;
  height: 20px;
  margin: 5px 0;
}

.item-percent {
  background-color: salmon;
  width: 50%;
}

.item-view-width {
  width: 50vw;
  height: 5vh;
}