* {
    box-sizing: border-box;
  }
  
  /* By default inputs have a smaller font size 
  than the rest of the text on the page. 
  This is because the default font size for inputs is 16px, 
  while the default font size for the body is 20px. 
  To make the font size of the inputs match the font size of the body,
   we can set the font size of the inputs to inherit. */

  .input {
    border: 1px solid #aaa;
    outline: none;
    font-size: inherit;
    /* Using em larger input have more padding
        and smaller input have less padding */
    padding: 0.5em;
    border-radius: 0.2em;
  }
  
  .input:focus-visible {
    border-color: #0af;
    box-shadow: 0 0 5px 0 #0af;
  }
  
  .input.input-success {
    border-color: #27ae60;
  }
  
  .input.input-success:focus-visible {
    border-color: #0f0;
    box-shadow: 0 0 5px 0 #0f0;
  }
  
  .input.input-error {
    border-color: #eb5757;
  }
  
  .input.input-error:focus-visible {
    border-color: #f00;
    box-shadow: 0 0 5px 0 #f00;
  }
  
  .input.input-large {
    font-size: 1.25rem;
  }
  
  .input.input-small {
    font-size: 0.75rem;
  }
  
  .input:disabled {
    background-color: #eaeaea;
    cursor: not-allowed;
  }

